<div class="container">
<div class="row justify-content-center my-5">
    <div class="col-12 col-md-6">
        <h4>Code of Conduct (行動規範)</h4>
        <p>主催者は、参加者が人権侵害や差別を受けることのないよう努力しています。<br/>
本イベントは技術情報の共有や技術者同士のコラボレーションを目指しています。<br/>
登壇者、来場者、スポンサー、スタッフなどすべての参加者は、いかなる形でもハラスメントに関わってはなりません。<br/>
ハラスメント行為の懸念を感じた場合は運営事務局（[codt2021-office at e-side.co.jp]）まで速やかにお知らせください。</p>

        <h5>容認できない行為</h5>
        <ul>
            <li>性的な言語や画像の使用</li>
            <li>個人的な攻撃</li>
            <li>侮辱/軽蔑的なコメント</li>
            <li>公的または私的なハラスメント</li>
            <li>許可なく他人の個人情報を公開すること</li>
            <li>その他の非倫理的な行為</li>
        </ul>
    </div>
</div>
</div>